<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}