<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <h1>Check your inbox.</h1>
                <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
            </div>
        </div>
        <div class="row">
            <div class="sixteen wide column">
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}