
    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 290px;
      padding: 1em 0em;
      /*background: url("assets/Tavern_Scene_with_Smokers.jpg") 50% 0 no-repeat !important;*/
      /*background: url("assets/comrades_of_steel.png") 50% 0 no-repeat !important;*/
      /*background: url("assets/bookcase-books-bookshelves-159711.jpg") 50% 0 no-repeat !important;*/
      background: url("assets/bookcase-books-06.png") 50% 0 no-repeat !important;
      z-index: 0;
      margin-bottom: 1em !important;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 0.5em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
      text-shadow: 3px 3px 2px #000;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
      text-shadow: 2px 2px 1px #000;
    }
    .masthead:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 6px;
        bottom: 0;
        left: 0;
        background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
    }
    .white {
        background: white !important;
    }
    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    .menu {
        border-width: 0px !important;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }