<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <!--<div class="three wide column">-->
                <!--<h4 class="ui inverted header">About</h4>-->
                <!--<div class="ui inverted link list">-->
                    <!--<a href="#" class="item">Sitemap</a>-->
                    <!--<a href="#" class="item">Contact Us</a>-->
                    <!--<a href="#" class="item">Religious Ceremonies</a>-->
                    <!--<a href="#" class="item">Gazebo Plans</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="three wide column">-->
                <!--<h4 class="ui inverted header">Services</h4>-->
                <!--<div class="ui inverted link list">-->
                    <!--<a href="#" class="item">Banana Pre-Order</a>-->
                    <!--<a href="#" class="item">DNA FAQ</a>-->
                    <!--<a href="#" class="item">How To Access</a>-->
                    <!--<a href="#" class="item">Favorite X-Men</a>-->
                <!--</div>-->
            <!--</div>-->
            <div class="seven wide column">
                <h4 class="ui inverted header">
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                        <img alt="Creative Commons-Licentie" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
                    </a>
                </h4>
                <div class="ui inverted link list">
                    Dit werk valt onder een <a class="item" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                        Creative Commons Naamsvermelding-NietCommercieel-GeenAfgeleideWerken 4.0 Internationaal-licentie
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
