{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column">
            {% if user.is_authenticated %}
                <h1>Welcome back {{ user.username }}!</h1>
                You are authenticated
                {% if request.user.is_superuser %}
                    and you are <a href="/admin/">admin</a>.
                {% endif %}
            {% else %}
              You are not logged in
            {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}
