{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'editor/css/medium-editor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'editor/css/themes/default.css' %}">
{% endblock %}

{% block content %}
        <div class="row">
            <div class="sixteen wide column">
                <div class="ui basic attached segment">
                    <h1 class="ui top editable thought__title header"></h1>
                </div>

                <div class="ui attached segment">
                    <div class="ui basic segment">
                        <textarea rows="4" cols="50" class="editable thought__body"></textarea>
                    </div>
                </div>

                <div class="ui bottom clearing attached segment">
                    <button class="ui right floated primary button">
                      Save
                    </button>
                    <button class="ui right floated basic button">
                      Discard
                    </button>
                </div>

            </div>
        </div>
{% endblock %}

{% block endbody %}
    <script src="{% static 'editor/js/medium-editor.min.js' %}"></script>
    <script>
        new MediumEditor('.thought__title', {
            toolbar: {
                buttons: ['bold', 'italic', 'underline', 'h1', 'h3', 'quote'],
            },
            placeholder: {
                text: 'Type your title...'
            }
        });
        new MediumEditor('.thought__body', {
            toolbar: {
                buttons: ['bold', 'italic', 'underline', 'h1', 'h3', 'quote'],
            },
            placeholder: {
                text: 'Type your thought...'
            }
        });
    </script>
{% endblock %}