{% extends 'base.html' %}

{% block title %}All Fibs{% endblock %}

{% block content %}
    <h1 class="ui top attached header">
        List of fibs
        <a href="{% url 'specials:fib_create' %}" class="ui right floated circular basic button">
            <i class="plus icon"></i>
        </a>
    </h1>
    {% for object in object_list %}
        <h3 class="ui attached header">
            {{ object.title }}
        </h3>
        <div class="ui attached segment">
        {{ object.content | safe }}
        </div>
        {% empty %}
        <div class="ui attached segment">
            No fibs yet.
        </div>
    {% endfor %}
{% endblock %}
