{% extends 'base.html' %}

{% block title %}All Thoughts{% endblock %}

{% block content %}
<h1 class="ui header">
    List of thoughts
    {% if user.is_authenticated %}
    <a href="{% url 'specials:thought_create' %}" class="ui right floated circular basic button">
        <i class="plus icon"></i>
    </a>
    {% endif %}
</h1>

<div class="ui cards">
    {% for object in object_list %}
        <div class="card">
            <div class="content">
                <div class="header">{{ object.title }}</div>
                <div class="meta">By: {{ object.user.username }}</div>
                <div class="description">
                {{ object.content | safe }}
                </div>
                <div class="meta">{{ object.create_date | date }}</div>
            </div>
        </div>
    {% empty %}
        <div class="card">
            <div class="content">
                <div class="header">No Thoughts yet</div>
                <div class="meta">Empty</div>
                <div class="description">
                You can create one by clicking the (+) icon
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
